<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Zadanie zaliczeniowe 1</title>
</head>
<body>
<h1> Formularz do wyliczania rat kredytu: </h1>
 <form action="hello" method="get">
  Wartość kredytu: 
  <input type="number" name="credit_value" required><br><br>
  Liczba rat:
  <input type="number" name="number_of_rates" required><br><br>
  Oprocentowanie
  <input type="number" name="interest" required><br><br>
  Opłata stała
  <input type="number" name="constant_charge" required><br><br>
  Rodzaj rat:
  <input type="radio" name="kind_of_rate" value="decreasing" checked>Malejąca
  <input type="radio" name="kind_of_rate" value="constant">Stała<br>
  <input type="submit" value='Wylicz'>
</form> 
</body>
</html>